<table class="w_all lh_35">
	<tbody>			
		<tr><td class="w65">系统名称：</td><td><div class="w_all input_c_green input_bg_gray lh_29 ti_10">{{ sys_name }}<a class="edit">修改</a></div></td></tr>
		<tr><td class="w65">系统时间：</td><td><div class="w_all input_c_green input_bg_gray lh_29 ti_10">{{ sys_time }}<a class="edit">修改</a></div></td></tr>			
		<tr><td class="w65">设备型号：</td><td><input class="input_text input_bg_gray w_all input_c_333" type="text" value="{{ dev_type }}" disabled/></td></tr>							
		<tr><td class="w65">启动时间：</td><td><input class="input_text input_bg_gray w_all input_c_333" type="text" value="{{ start_time }}" disabled/></td></tr>
		<tr><td class="w65">运行时间：</td><td><input class="input_text input_bg_gray w_all input_c_333" type="text" value="{{ up_time }}" disabled/></td></tr>
		<tr><td class="w65">系统版本：</td><td><input class="input_text input_bg_gray w_all input_c_333" type="text" value="{{ sys_version }}" disabled/></td></tr>						
	</tbody>
</table>
